/*!
 * Вільна Країна
 * Copyright 2016
 * m-box.org.ua
 */
#scheader {
  height: 90px;
  background: -webkit-linear-gradient(rgba(223,223,223,1), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(223,223,223,1), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(223,223,223,1), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(223,223,223,1), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
#rockit {
  position:relative;
  height:218px;
  width:450px;  
  margin:0 auto;
}
#rockit img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
#rockit img.top:hover {
  opacity:0;
}
figure {
	display: block;
	position: relative;
	height:100%;
	width:100%;
	overflow: hidden;
	margin: 100px 100px 100px 100px;
}
figcaption {
	position: absolute;
	background: grey;
	color: white;
	padding: 0px 10px;
	left: 20%; right: 20%; top: 5%; 
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity  0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	font-size: 0;
}
.opacity:hover figcaption {
	opacity: 0.8;
}
.opacity:hover img.top {
	opacity: 0
}